main {
    background-color: #c4c4c4;
    padding: 10px 0;

  }
  
  header {
    background-color: #ffffff;
    padding: 10px 0;
  }
  
.Block{
    display: flex;  
    justify-content: center;
    align-items: center;
}

  .card {
    background-color: #ffffff;
    width: 500px;
    padding: 10px;
  }
  
  .card img {
    width: 288px;
    height: 182px;
    margin-bottom: 30px;
  }
  
  .card__title {
    color: #282828;
    font-size: 14px;
  }
  
  .card__description {
    color: #282828;
    font-size: 12px;
  }
  
  footer {
    background-color: #ffffff;
    padding: 10px 0;
  }
  